<a href="https://colab.research.google.com/github/SnigdhaPanakanti/Data601_spring22/blob/main/In_Class_Practice_04_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In-Class Practice

- Date: 02/21/2021
- Name: Snigdha Panakanti

### Assignment-03 work:

In [ ]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 @ 6 6 6 8 8 8 @ @ @
 @ 2 8 4 0 8 @ @ @ @
 @ 0 6 8 @ @ 6 @ 0 @
 @ 4 @ 4 @ @ 4 @ 8 2
 0 2 @ @ @ 2 2 @ 4 @
 4 @ 6 @ 2 6 @ @ 2 @
 0 @ @ @ 8 8 @ 8 @ @
 @ @ 6 0 4 @ @ @ 6 @
 6 @ 0 @ 2 @ @ 6 6 @
 @ @ 2 8 0 4 @ @ 4 0

In [ ]:
x = "Hello Wporld!"

print(x)

Hello Wporld!

In [ ]:
x = x.replace("p","")
print(x)

hi world!

In [ ]:
x = x.replace("Hello", "Hi")
print(x)

Hi Wporld!

In [ ]:
#To change the string into uppercase
x = x.upper()

print(x)

HI WORLD!

In [ ]:
#To change the string into lowercase
x = x.lower()
print(x)

hi world!

### * String functions/methods/operations:

- upper()
- lower()
- strip()
- lstrip()
- rstrip()

In [ ]:
# Generate 100 numbers first
num = []
for i in range(100):
    num.append(random.randint(0,9))

print(num)
print(len(num))

[3, 9, 1, 2, 7, 8, 5, 9, 9, 8, 1, 7, 4, 9, 9, 3, 1, 8, 7, 3, 8, 7, 4, 5, 6, 3, 7, 4, 9, 9, 7, 2, 8, 2, 6, 3, 0, 9, 0, 5, 7, 1, 5, 8, 8, 8, 7, 9, 6, 8, 3, 5, 9, 7, 9, 6, 5, 3, 5, 6, 7, 6, 8, 4, 4, 8, 9, 4, 8, 4, 2, 2, 3, 2, 6, 1, 5, 7, 1, 6, 4, 2, 0, 8, 7, 3, 6, 3, 9, 3, 1, 6, 6, 7, 0, 1, 4, 0, 6, 7]
100

In [ ]:
print(num[6])

5

In [ ]:
for i in range(100):
    print("Index:",i,"Member:",num[i])

Index: 0 Member: 3
Index: 1 Member: 9
Index: 2 Member: 1
Index: 3 Member: 2
Index: 4 Member: 7
Index: 5 Member: 8
Index: 6 Member: 5
Index: 7 Member: 9
Index: 8 Member: 9
Index: 9 Member: 8
Index: 10 Member: 1
Index: 11 Member: 7
Index: 12 Member: 4
Index: 13 Member: 9
Index: 14 Member: 9
Index: 15 Member: 3
Index: 16 Member: 1
Index: 17 Member: 8
Index: 18 Member: 7
Index: 19 Member: 3
Index: 20 Member: 8
Index: 21 Member: 7
Index: 22 Member: 4
Index: 23 Member: 5
Index: 24 Member: 6
Index: 25 Member: 3
Index: 26 Member: 7
Index: 27 Member: 4
Index: 28 Member: 9
Index: 29 Member: 9
Index: 30 Member: 7
Index: 31 Member: 2
Index: 32 Member: 8
Index: 33 Member: 2
Index: 34 Member: 6
Index: 35 Member: 3
Index: 36 Member: 0
Index: 37 Member: 9
Index: 38 Member: 0
Index: 39 Member: 5
Index: 40 Member: 7
Index: 41 Member: 1
Index: 42 Member: 5
Index: 43 Member: 8
Index: 44 Member: 8
Index: 45 Member: 8
Index: 46 Member: 7
Index: 47 Member: 9
Index: 48 Member: 6
Index: 49 Member: 8
Index: 50 Member: 3
Index: 51 Member: 5
Index: 52 Member: 9
Index: 53 Member: 7
Index: 54 Member: 9
Index: 55 Member: 6
Index: 56 Member: 5
Index: 57 Member: 3
Index: 58 Member: 5
Index: 59 Member: 6
Index: 60 Member: 7
Index: 61 Member: 6
Index: 62 Member: 8
Index: 63 Member: 4
Index: 64 Member: 4
Index: 65 Member: 8
Index: 66 Member: 9
Index: 67 Member: 4
Index: 68 Member: 8
Index: 69 Member: 4
Index: 70 Member: 2
Index: 71 Member: 2
Index: 72 Member: 3
Index: 73 Member: 2
Index: 74 Member: 6
Index: 75 Member: 1
Index: 76 Member: 5
Index: 77 Member: 7
Index: 78 Member: 1
Index: 79 Member: 6
Index: 80 Member: 4
Index: 81 Member: 2
Index: 82 Member: 0
Index: 83 Member: 8
Index: 84 Member: 7
Index: 85 Member: 3
Index: 86 Member: 6
Index: 87 Member: 3
Index: 88 Member: 9
Index: 89 Member: 3
Index: 90 Member: 1
Index: 91 Member: 6
Index: 92 Member: 6
Index: 93 Member: 7
Index: 94 Member: 0
Index: 95 Member: 1
Index: 96 Member: 4
Index: 97 Member: 0
Index: 98 Member: 6
Index: 99 Member: 7

In [ ]:
count = 0
for i in range(10):
    for i in range(10):
        print(num[count], " ", end=" ")
        count += 1
    print("\n")

3   9   1   2   7   8   5   9   9   8

1   7   4   9   9   3   1   8   7   3

8   7   4   5   6   3   7   4   9   9

7   2   8   2   6   3   0   9   0   5

7   1   5   8   8   8   7   9   6   8

3   5   9   7   9   6   5   3   5   6

7   6   8   4   4   8   9   4   8   4

2   2   3   2   6   1   5   7   1   6

4   2   0   8   7   3   6   3   9   3

1   6   6   7   0   1   4   0   6   7

In [ ]:
# when to initialize a variable

sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

6 7 0 3 2 0 0 6 7 9 * 40
1 1 8 2 8 3 6 3 0 8 * 40
4 5 9 7 0 5 1 7 1 3 * 42
3 8 2 6 1 2 5 8 9 1 * 45
5 0 6 1 3 4 4 9 2 8 * 42
1 3 1 8 3 6 0 2 8 3 * 35
1 4 0 2 4 1 6 3 8 6 * 35
7 9 6 1 4 5 8 6 4 0 * 50
2 2 5 6 7 8 3 5 5 4 * 47
8 1 6 4 1 1 2 0 9 3 * 35

In [ ]:
# when to initialize a variable
for n in range (10): #repeats each row 10 times
    sum=0
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char

9 9 0 8 2 4 0 9 1 7 * 49
6 0 6 3 7 9 6 3 2 1 * 43
9 0 7 8 5 1 6 6 7 8 * 57
9 7 4 9 5 7 2 1 7 4 * 55
1 9 5 8 7 0 0 3 5 5 * 43
8 9 0 0 4 7 2 6 5 6 * 47
8 2 8 9 1 1 9 6 9 9 * 62
6 4 2 2 7 8 9 3 6 3 * 50
4 0 8 7 3 5 2 6 2 6 * 43
4 8 6 9 4 0 9 9 0 7 * 56

In [ ]:
x = [0,0,0,0,0,0]
print(x)

[0, 0, 0, 0, 0, 0]

In [ ]:
x = [0]*6
print(x)

[0, 0, 0, 0, 0, 0]

In [ ]:
x = [0]*100
print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]