<a href="https://colab.research.google.com/github/SnigdhaPanakanti/Data601_spring22/blob/main/Assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Assignment - 03*
## Program for generating 100 random integers between 0 and 9.

In [150]:
import random

In [151]:
for i in range(10):
    for j in range(10):
        print(random.randint(0,9))
    
print()

1
8
1
3
8
6
6
2
4
9
5
2
9
8
4
7
5
6
0
0
3
8
5
9
7
4
8
5
3
2
3
9
7
3
2
1
4
0
6
7
0
5
2
1
9
9
5
2
8
1
8
2
4
3
0
1
6
7
0
7
4
4
8
3
3
1
2
9
7
3
0
3
2
8
4
9
9
9
4
2
5
6
8
9
4
6
5
5
9
1
9
6
2
8
4
6
8
7
8
6

1. Printing them in a 10 by 10 matrix with one space between each number:

In [152]:
for i in range(10):
    for j in range(10):
        x = random.randint(0,9)
        print(x, end=" ")
    print()

5 7 9 9 6 3 8 0 9 6
5 7 4 4 3 6 5 1 5 4
0 5 0 0 0 3 6 3 0 5
0 8 0 0 7 9 7 2 0 8
0 2 3 5 9 3 5 9 5 3
1 3 7 2 9 1 6 6 7 5
6 5 2 6 0 3 2 6 4 6
1 0 6 0 3 7 5 5 0 7
7 4 0 7 9 9 6 9 0 9
7 9 6 4 2 3 3 8 7 3

2. Printing "@" if the random number is an odd number:

In [153]:
for i in range(10):
    for j in range(10):
        x = random.randint(0,9)
        if x%2 == 0:
          print(x, end=" ")
        else:
          print("@", end=" ")
    print()

6 @ @ @ @ 4 @ 8 8 8
4 @ 2 4 @ @ @ @ 6 4
6 @ 4 8 @ 4 8 @ 4 2
0 8 @ 8 @ 4 @ @ 8 @
8 @ @ @ @ @ 6 @ @ @
@ 8 4 6 0 0 4 @ 0 8
@ @ 2 @ @ @ @ @ 0 8
4 8 @ 2 4 @ @ @ @ 0
0 8 @ 6 0 8 4 8 @ @
@ 6 @ 4 6 @ @ 0 @ @

3. Calculating and Printing the total of each row using "*" to separate the total from the numbers:

In [154]:
for i in range(10):
    a = 0
    for j in range(10):
        x = random.randint(0,9)
        a = a+x
        print(x, end=" ")
    print(end="* ")
    print(a, end=" ")
    print()

6 1 2 3 8 4 4 4 9 2 * 43
6 5 1 8 4 4 5 5 6 6 * 50
5 6 8 5 3 7 2 5 4 7 * 52
6 1 1 3 7 9 1 2 2 4 * 36
0 0 1 6 1 5 5 5 6 1 * 30
0 5 3 2 1 2 3 4 1 0 * 21
6 2 0 2 6 4 9 3 0 0 * 32
0 0 7 6 2 5 6 7 5 5 * 43
2 4 8 7 1 3 8 9 1 1 * 44
1 6 3 5 6 3 6 1 2 0 * 33

4. Surrounding the matrix with asterisks "*"

In [155]:

for i in range(12):
    print("*",end=" ")

print()
for i in range(10):
    print("*", end=" ")
    for j in range(10):
        x = random.randint(0,9)
        print(x, end=" ")
    print("*", end=" ")
    print()

for i in range(12):
    print("*",end=" ")

* * * * * * * * * * * *
* 6 4 8 8 5 0 7 8 6 3 *
* 8 1 9 7 7 2 8 2 1 4 *
* 8 5 5 0 5 2 2 8 6 1 *
* 7 7 7 9 1 9 0 2 0 2 *
* 1 5 0 8 9 3 0 9 3 5 *
* 6 2 0 5 8 8 6 1 7 8 *
* 9 8 8 6 1 0 9 0 3 1 *
* 1 8 1 5 5 0 3 0 1 0 *
* 3 2 4 0 4 1 0 8 2 8 *
* 2 3 1 7 8 8 0 9 6 6 *
* * * * * * * * * * * *

In [156]:
print("***********************", end=" ")
print()
for i in range(10):
    print("*", end=" ")
    for j in range(10):
        x = random.randint(0,9)
        print(x, end=" ")
    print("*", end=" ")
    print()

print("***********************")

***********************
* 0 9 3 6 9 8 0 1 1 6 *
* 9 9 0 3 5 0 7 0 6 5 *
* 3 6 6 8 9 7 6 6 7 2 *
* 4 0 7 2 8 5 0 1 6 6 *
* 1 1 2 6 9 6 9 6 3 2 *
* 9 7 0 6 1 4 3 1 7 2 *
* 4 5 9 4 9 8 5 6 4 8 *
* 2 5 4 9 7 8 7 6 3 2 *
* 3 0 1 1 6 6 6 7 1 8 *
* 8 4 9 5 4 3 5 2 5 0 *
***********************

5. Calculating and Printing the total of each row and column

In [159]:
b = [0]*10
for i in range(10):
    a = 0
    for j in range(10):
        x = random.randint(0,9)
        b[j] = b[j] + x
        a = a + x
        print(x, end="  ")
    print(end="* ")
    print(a, end=" ")
    print()
for i in range(10):
    print("*", end="  ")
print()
for n in range(10):
    print(b[n], end=" ")

9  5  4  1  6  6  5  9  0  9  * 54
2  1  3  9  3  6  2  1  5  0  * 32
7  5  0  7  1  3  9  0  3  7  * 42
9  1  2  4  1  6  4  7  5  1  * 40
8  2  7  3  7  0  5  5  4  3  * 44
3  6  2  5  8  9  9  5  4  8  * 59
2  9  3  0  5  0  3  4  3  7  * 36
1  8  8  2  2  5  7  5  7  7  * 52
0  0  7  1  7  7  9  0  5  8  * 44
6  6  0  7  1  6  0  0  6  6  * 38
*  *  *  *  *  *  *  *  *  *
47 43 36 39 41 48 53 36 42 56